<h2 id="cv">Mon CV</h2>
<div class="cvBloc">
	<h3>Expériences professionnelles</h3>
	<div>
		<h4>Gestionnaire d'outils digitaux</h4>
		<h5>Crédit Agricole des Savoie - depuis août 2017</h5>
		<ul>
			<li>Gestion du déploiement de nouveaux projets d'outils digitaux dans l'espace sécurisé client et l'application mobile Ma Banque</li>
			<li>Gestion des incidents techniques et apport d'une assistance technique des collaborateurs en charge de l'assistance client</li>
			<li>Participation à la montée en compétence des collaborateurs sur les outils et services digitaux (rédaction et mise à jour des bagages, information relatifs à ces activités)</li>
			<li>Développements HTML, CSS et JQuery pour la création ou la mise à jour de pages web dans l'espace sécurisé client</li>
			<li>Suivi et analyse des statistiques de certains projets afin d’adapter les actions en fonction des résultats</li>
		</ul>
	</div>
	<div>
		<h4>Développeuse alternante</h4>
		<h5>Crédit Agricole des Savoie - de août 2016 à août 2017</h5>
		<ul>
			<li>Développements en Javascript d'outils spécifiques comme un convertisseur de devices</li>
			<li>Créations d'emails HTML à partir de gabarits</li>
			<li>Mise en place de nouvelles fonctionnalités sur le site et sur les applications mobiles via un CMS</li><li>Tests avant mise en production et débogages réalisés dans un environnement de pré-production</li>
			<li>Suivi et analyse des statistiques afin d’adapter les actions en fonction des résultats</li>
		</ul>
	</div>
	<div>
		<h4>Responsable E-commerce</h4>
		<h5>Belhome - de juillet 2015 à juillet 2016</h5>
		<ul>
			<li>Installation et mise en production de 2 sites Internet Prestashop : belhome.com et meubletmoi.com</li><li>Installation de modules de paiement et transporteurs</li>
			<li>Modification du design des sites (CSS)</li>
			<li>Créations de fiches produit : rédaction du descriptif avec optimisation SEO (choix des balises)</li>
			<li>Prises de photos et retouches sur Photoshop (détourage, fond blanc...)</li>
			<li>Créations de plaquettes publicitaires web et print</li>
			<li>Développement de flipbooks à partir d'une bibliothèque Javascript</li>
			<li>Création et animation des pages Facebook de l'entreprise</li>
		</ul>
	</div>
	<div>
		<h4>Webmaster</h4>
		<h5>Flash RC -  de décembre 2011 à juillet 2015</h5>
		<ul>
			<li>Créations et mises à jour de fiches produit sur le site internet : rédaction des descriptions avec optimisation SEO (choix du titre, balises), ajout produits liés</li>
			<li>Développements HTML et CSS3 : améliorer la présentation de la fiche produit et mise en valeur des atouts du produit</li>
			<li>Développements JS : Création de l'animation des annonces produits en page d'accueil</li>
			<li>Participation à la création du nouveau tunnel de commande du site : validation des développements réalisés par une société externe, puis synthèses des corrections et améliorations à apporter</li>
		</ul>
	</div>
</div>
<div class="cvBloc">
	<h3>Compétences</h3>
	<div>
		<h4>Langages informatiques</h4>
		<ul>
			<li>HTML 5, XML, CSS 3 <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></li>
			<li>Javascript <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></li>
			<li>PHP 7, SQL <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></li>
			<li>JAVA, JAVA EE <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></li>
		</ul>
	</div>
	<div>
		<h4>Frameworks</h4>
		<ul>
			<li>Bootstrap <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></li>
			<li>JQuery <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></li>
			<li>Node JS, Angular JS <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></li>
			<li>Symfony 4 <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></li>
			<li>Android Studio <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></li>
			<li>Cordova <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></li>
			<li>Prestashop, Wordpress <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></li>
		</ul>
	</div>
	<div>
		<h4>Logiciels</h4>
		<ul>
			<li>PhpStorm, Sublime Text <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></li>
			<li>Eclipse <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></li>
			<li>Filezilla <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></li>
			<li>Photoshop CS7 <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></li>
			<li>Git/Github <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></li>
		</ul>
	</div>
	<div>
		<h4>Langues étrangères</h4>
		<ul>
			<li>Anglais <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></li>
			<li>Allemand <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></li>
		</ul>
	</div>
</div>
<div class="cvBloc">
	<h3>Formations</h3>
	<div>
		<h4>Licence professionnelle Métiers de l'informatique : applications web (LP-MIAW)</h4>
		<h5>IUT2 Grenoble - de septembre 2016 à juillet 2017</h5>
		<p>Licence en alternance spécialisée dans les technologies de développement pour le Web (HTML5/CSS, Javascript, Jquery, AngularJS, Symphony, JavaEE, XML, référencement, configuration de serveurs),développement pour mobiles (Android, Cordova), gestion de projets</p>
	</div>
	<div>
		<h4>Ingénieur en génie mécanique des procédés plasturgie (GMPP)</h4>
		<h5>INSA Lyon - de septembre 2001 à septembre 2005</h5>
	</div>
</div>


<p><a href="{{ asset('files/CV-alexandra-gonzalez.pdf') }}" title="CV Alexandra Gonzalez">Téléchargez le CV (.pdf)</a>
</p>