{% extends "base.html.twig" %}
{% block content %}
<div class="content">
	<p>Le site www.alexandra-gonzalez.fr est édité par :
	<br /><br />
	<strong>Alexandra Gonzalez</strong> (personne physique)<br />
	Responsable de la  publication : Alexandra Gonzalez<br />
	Contacter le responsable de la publication : contact@alexandra-gonzalez.fr<br /><br />
	</p>
	<p>Le site www.alexandra-gonzalez.fr est hébergé par :<br /><br />
	<strong>OVH</strong><br />
 	2 rue Kellermann<br />
 	59100 ROUBAIX<br />
 	SAS au capital de 10 069 020 €<br />
 	RCS Lille Métropole 424 761 419 00045<br />
 	Code APE 2620Z<br />
 	N° TVA : FR 22 424 761 419<br /><br />
	</p>
	<p>
	Alexandra GONZALEZ est propriétaire exclusif de tous les droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, tant sur la structure que sur les textes, images, graphismes, logo, icônes, sons, logiciels…<br />
	Toute reproduction totale ou partielle du site www.alexandra-gonzalez.fr, représentation, modification, publication, adaptation totale ou partielle de l'un quelconque de ces éléments, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de Alexandra GONZALEZ, propriétaire du site à l'email : contact@alexandra-gonzalez.fr, à défaut elle sera considérée comme constitutive d’une contrefaçon et passible de poursuite conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.
	</p>
</div>
{% endblock %}