<h2 id="qui">Qui suis-je ?</h2>
<div id="presentation">
    <figure>
        <img alt="photo auteur" src="{{ asset('images/avatar.jpg') }}" />
    </figure>
    <p>Je me suis très tôt intéressée aux ordinateurs. A 8 ans, je bricolais sur les "486" pour faire fonctionner mes jeux préférés (PACMAN, Prince of Persia...). A l'adolescence, j'ai commencé à apprendre les langages web de programmation. Depuis, cette passion ne m'a plus quittée ! Mes expériences professionnelles m'ont permis de consolider mes connaissances dans ce domaine. En 2016, j'ai repris mes études pour préparer une licence pro MIAW en alternance. Aujourd'hui, je travaille pour le Crédit Agricole des Savoie en tant que gestionnaire des outils digitaux. Pendant mes heures perdues, je continue à coder des sites et des applis mobiles par passion et aussi cela me permet de me tenir informer des dernières nouveautés.
    </p>
</div>